input[type="text"]
{
	font-size: 30px;
	padding: 5px 5px 5px 10px;
	width: 150px;
}

input[type="submit"]{
	color: red;
	font-size: 16px;
	padding: 0px 5px 0px 5px;
	border-bottom-color:black;
	border-left-color:black;
	border-right-color:black;
	border-top-color:black;
}

body {
	background: gray;
}